
@media print and (orientation: landscape){
    @page {
        margin:1cm;
        width: 21cm;
        height: 28cm;
    }
    .container{
        padding: 0cm;
        margin: 0cm;
    }
    .logo{
        display: none;
    }
    .selectTExt{
        display: none;
        height: 0cm;
    }
    .selectMateria{
        display: none;
        height: 0cm;
    }
    .form-check{
        display: none;
        height: 0cm;
    }
    .nav{
        display: none;
        height: 0cm;
    }
    .table{
        padding: 0cm;
        margin: 0cm;
        width: 26cm;
        border: 1px solid black;
        text-align: center;
    }
    .ponerBorde{
        border: 1px solid black;
        height: 0.7cm;
        width: 0.5cm;
    }
    .alumnos{
        width: 6cm;
    }
    .mes{
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

}