
@media print and (orientation: landscape){
    @page {
        margin:1cm;
        width: 21cm;
        height: 28cm;
    }
    title{
        display: none;
    }
    .table>:not(caption)>*>* {
        padding: 0;
    }
    .table{
        position: absolute;
        top: 0;
        border: 1px solid black;
        text-align: center;
    }
    .container{
        padding: 0cm;
        margin: 0cm;
    }
    .logo{
        display: none;
    }
    .selectTExt{
        display: none;
        height: 0cm;
    }
    .selectMateria{
        display: none;
        height: 0cm;
    }
    .form-check{
        display: none;
        height: 0cm;
    }
    .nav{
        display: none;
        height: 0cm;
    }
    .ponerBorde{
        border: 1px solid black;
        width: 0.5cm;
        height: 2px;
        padding: 0;
        margin: 0;
    }
    .alumnos{
        width: 6cm;
        height: 0.5cm;
        text-align: left;
    }
    .mes{
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    #docente{
        font-size: 20px;
    }
    .asignatura{
        font-size: 20px;
    }
    .fila{
        height: 0.5cm;
    }
    th{
        padding: 0cm;
        margin: 0cm;
    }
    th{
        padding: 0cm;
        margin: 0cm;
    }
}